body{
    background-color: #EEEEEE !important;
}

.mainInfo{
    margin-top: 50px; 
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-bottom: 500px; 
}

#appPicture{
    width: 18%;
    margin-right: 40px;
}

.hide{
    opacity: 0; 
    transition: 1s opacity;
}

.arrow{
    margin-top: 50px; 
    width: 20%; 
}

#down-arrow-hover{
    display: none; 
}

#down-arrow{
    display: block;
}

form{
    width: 80%;
    margin: auto; 
    margin-bottom: 500px; 
    display: none; 
}

#formTitle{
    margin-bottom: 50px; 
    margin-top: 50px; 
}

.alert{
    margin-top: 50px; 
    display: none; 
}